{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container h-100">
        <div class="row">
            <div class="col-7 col col-md-8 col-lg-9 mx-auto my-auto">
                <h1 class="page-headline display-4">
                    Affordable Original and Custom-Made Art to Fit Any Space!
                </h1>
                <h2 class="page-subheadline display-6">
                    by Local San Diego Artists
                </h2>
            </div>

        </div>

    </div>


{% endblock %}
