{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row pb-4">
            <div class="col-12 text-center">
                <h1 class="josephine-sans main-headline my-2">
                    Affordable Original and Custom-Order Art by local San Diego Artists
                </h1>
            </div>
            <div class="col-12 text-center pt-1">
                <a href="{% url 'artworks' %}" aria-label="link-to-shop"
                    class="btn shop-now-button py-3">Available Artworks
                </a>
            </div>
        </div>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row my-2 p-0">
            <div class="col-12 p-0">
                <img class="img-fluid w-100"
                    src="{{ MEDIA_URL }}poppies.jpg"
                    alt="painted poppies watercolor">
            </div>
        </div>
        <div class="row my-2">
             <div class="col-12 text-center">
                <h2 class="display-6 index sub-headline josephine-sans mt-4">Get Inspiration for Your Custom Order from Our Full Gallery</h2>
                <p class="lead josephine-sans">containing past and present works</p>
            </div>
            <div class="col-12 text-center">
                <a href="{% url 'full_gallery' %}" aria-label="link-to-full-gallery"
                    class="btn shop-now-button btn py-3">Full Gallery
                </a>
            </div>
        </div>
   </div>
        <div class="row">
            <div class="col-12 mt-2">
                <h3 class="josefin-sans-subheader josephine-sans mt-2 mb-5 text-center">
                    Come see us at our next public 
                    <a href="{% url 'events' %}" aria-label="link to events"
                        class="text-black underline">event</a>!
                </h3>
            </div>
        </div>
    </div>
{% endblock %}
