{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col mx-auto text-center">
      <h1 class="display-4 josephine-sans">Artworks Management</h1>
      <h2 class="display-5 josephine-sans">Add an Artwork</h2>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-6 mx-auto">
            <form method="POST" action ="{% url 'add_artwork' %}" class="form mb-2" enctype="multipart/form-data">
              {% csrf_token %}
              {% for field in form %}
                {% if field.name != 'image' %}
                  {{ field | as_crispy_field }}
                {% else %}
                  {{ field }}
                {% endif %}
              {% endfor %}
                <div class="text-center">
                    <a href="{% url 'artworks' %}"
                      class="btn btn-warning text-uppercase font-weight-bold px-3"
                      aria-label="cancel button">Cancel</a>
                    <button class="btn btn-success text-uppercase font-weight-bold
                                text-right mx-3 px-3" type="submit"
                                aria-label="add artwork button">Add Artwork
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}
