{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'artworks/css/artworks.css' %}" />
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col text-center">
                <h1 class="display-4 josephine-sans">
                    The Artist's Page
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h2 class="display-6 josephine-sans my-2">{{ artist }}</h2>
            </div>
                
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="artist-container col-10 offset-1">
        <div class="row">
            <div class="col-12 col-md-6">
                {% if artist.selfie %}
                    <a href="{{ artwork.selfie.url }}">
                        <img class="img img-fluid artist-image" src="{{ artist.selfie.url }}" alt="{{ artist.image_alt }}"> 
                    </a>
                {% else %}
                    <a href="">
                        <img class="img img-fluid artist-image" src="{{ MEDIA_URL }}noimage.png" alt="Missing an image of the artist"> 
                    </a>
                {% endif %}
            </div>
            <div class="col-12 col-md-6">
                <div class="row">
                    <div class="col">
                        <p><strong>{{ artist.name }}</strong></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <article>{{ artist.bio }}</article>        
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <hr>
            </div>
        </div>
        <div class="row">
            {% for artwork in artworks %}
                {% if artwork.status != 3 %}
                    <div class="col-sm-10 offset-sm-1 col-md-6 col-lg-4 col-xl-3 mb-5">
                        <div class="card w-100 border-0">
                            {% if artwork.image %}
                                <a href="{% url 'artwork_detail' artwork.id %}">
                                    <img class="card-img-top img-fluid"
                                    src="{{ artwork.image.url }}" 
                                    alt="{{ artwork.image_alt }}"> 
                                </a>
                            {% else %}
                                <a href="{% url 'artwork_detail' artwork.id %}">
                                    <img class="card-img-top img-fluid"
                                    src="{{ MEDIA_URL }}noimage.png"
                                    alt="{{ artwork.image_alt }}"> 
                                </a>
                            {% endif %}
                        <div class="card-body pb-0">
                            <p class="mb-0 artwork-title">{{ artwork.title }}</p>
                        </div>
                        <div class="card-footer bg-white pt-0 border-0 text-left">
                            <div class="row">
                                <div class="col">
                                {% if artwork.status == 1 %}
                                    <p class="lead mb-0 text-left font-weight-bold">
                                    ${{ artwork.price }}
                                    </p>
                                {% elif artwork.status == 2 %}
                                    <p class="lead mb-0 text-left font-weight-bold">
                                        SOLD
                                    </p>
                                {% endif %}
                                    <small class="text-muted">
                                        <i class="fa-solid fa-hashtag"></i>
                                        {{ artwork.medium.friendly_name }}
                                    </small><br>
                                </div>
                            </div>
                        </div>
                    </div>
                {% else %}
                    {% if request.user == artist or request.user.is_superuser %}
                        <div class="col-sm-10 offset-sm-1 col-md-6 col-lg-4 col-xl-3 mb-5">
                        <div class="card w-100 border-0">
                            {% if artwork.image %}
                                <a href="{% url 'artwork_detail' artwork.id %}">
                                    <img class="card-img-top img-fluid"
                                    src="{{ artwork.image.url }}" 
                                    alt="{{ artwork.image_alt }}"> 
                                </a>
                            {% else %}
                                <a href="{% url 'artwork_detail' artwork.id %}">
                                    <img class="card-img-top img-fluid"
                                    src="{{ MEDIA_URL }}noimage.png"
                                    alt="{{ artwork.image_alt }}"> 
                                </a>
                            {% endif %}
                        <div class="card-body pb-0">
                            <p class="mb-0 artwork-title">{{ artwork.title }}</p>
                        </div>
                        <div class="card-footer bg-white pt-0 border-0 text-left">
                            <div class="row">
                                <div class="col">
                                    <p class="lead mb-0 text-left font-weight-bold">
                                    ${{ artwork.price }}
                                    </p>
                                    <small class="text-muted">
                                        <i class="fa-solid fa-hashtag"></i>
                                        {{ artwork.medium.friendly_name }}
                                    </small><br>
                                    <p class="lead mb-0 text-left font-weight-bold">
                                        status: PENDING
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
