{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h1 class="logo-font py-1">
                    Get to Know Our Current Artists
                </h1>
                <h3 class="josephine-sans">
                    We're adding new art &ndash; and new artists &ndash; all the time!
                </h3>
                <h5 class="josephine-sans">
                     For inspiration, check out our individual artist's pages,
                      showcasing their past, present and evolving work.
                </h5>
                <hr class="w-50 mb-1">
            </div>
        </div>
        <div class="row mt-1 mb-2">
            {% for artist in artists %}
                <div class="col-sm-10 offset-sm-1 col-md-6 col-lg-4 col-xl-3 mb-5">
                    <div class="card w-100 border-0">
                        {% if artist.selfie %}
                        <a href="{% url 'artist_page' artist.id %}">
                           <img class="card-img-top img-fluid"
                            src="{{ artist.selfie.url }}" 
                            alt="{{ artist.image_alt }}"> 
                        </a>
                        {% else %}
                        <a href="{% url 'artist_page' artist.id %}">
                           <img class="card-img-top img-fluid"
                           src="{{ MEDIA_URL }}noimage.png"
                           alt="{{ artist.image_alt }}"> 
                        </a>
                        {% endif %}
                        <div class="card-body pb-0">
                            <p class="mb-0">{{ artist.name }}</p>
                            <p class="lead mb-0 text-left font-weight-bold">
                                {{ artist.mini_bio }}
                            </p>
                        </div>
                        <div class="card-footer bg-white pt-0 border-0 text-left">
                            <div class="row">
                                <div class="col">
                                    <!--Need some javascript to make the hrefs function ? -->
                                    <a href="{% url 'artist_page' artist.id %}">{{ artist.name }}'s Works</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
