{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col col-lg-10 offset-lg-1">
                <h1 class="josephine-sans py-1 text-center">
                    Get to Know Our Current Artists
                </h1>
                <h2 class="josephine-sans text-center">
                    For inspiration, check out our individual artist's pages,
                    showcasing their past, present and evolving work
                </h2>
                <hr class="w-50 mb-3">
                <h2 class="my-0"><small>Are you an artist living in San Diego?
                    Sell your work online with us!</small>
                </h2>
                <h4 class="my-0"><small>We're a local artist collective
                    focused on supporting one another and developing
                    relationships with art lovers in our community. 
                    <a href="{% url 'contact_us' %}"
                        aria-label="link to contact form"
                        class="inline-link">
                        Give us a shout</a> to find out more!</small>
                </h4>
                <hr class="w-50 mb-3">
            </div>
        </div>
        <div class="row mt-1 mb-2">
            {% for artist in artists %}
                <div class="col-sm-10 offset-sm-1 col-md-6 col-lg-4 col-xl-3 mb-5">
                    <div class="card w-100">
                        {% if artist.image %}
                        <a href="{% url 'artist_page' artist.id %}"
                            aria-label="link to the artist's page">
                           <img class="card-img-top img-fluid"
                            src="{{ artist.image.url }}"
                            alt="{{ artist.image_alt }}"> 
                        </a>
                        {% else %}
                        <a href="{% url 'artist_page' artist.id %}"
                            aria-label="link to the artist's page">
                           <img class="card-img-top img-fluid"
                           src="{{ MEDIA_URL }}noimage.png"
                           alt="{{ artist.image_alt }}"> 
                        </a>
                        {% endif %}
                        <div class="card-body pb-0">
                            <p class="mb-0">{{ artist.name }}</p>
                            {% if artist.mini_bio %}
                                <p class="lead mb-0 text-left font-weight-bold">
                                    {{ artist.mini_bio }}
                                </p>
                            {% endif %}
                        </div>
                        <div class="card-footer bg-white pt-0 border-0 text-left">
                            <div class="row">
                                <div class="col">
                                    <a href="{% url 'artist_page' artist.id %}"
                                        aria-label="link to the artist's page">
                                        {{ artist.name }}'s Works</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
