{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'artworks/css/artworks.css' %}" />
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col text-center">
                <h1 class="display-4 josephine-sans">
                    The Artist's Page
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h2 class="display-6 josephine-sans my-2">{{ artist }}</h2>
            </div>
                
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="artist-container col-10 offset-1">
        <div class="row">
            <div class="col-12 col-md-4 justify-content-center">
                {% if artist.selfie %}
                    <img class="img img-fluid artist-image" src="{{ artist.selfie.url }}" alt="{{ artist.image_alt }}"> 
                {% else %}
                    <img class="img img-fluid artist-image" src="{{ MEDIA_URL }}noimage.png" alt="Missing an image of the artist"> 

                {% endif %}
            </div>
            <div class="col-12 col-md-8 px-5">
                <div class="row">
                    <div class="col">
                        <p><strong>{{ artist.name }}</strong></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <article>{{ artist.bio }}</article>        
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <hr>
            </div>
        </div>
        <div class="row">
            {% for artwork in artworks %}
                {% if artwork.status != 3 %}
                    <div class="col-sm-10 offset-sm-1 col-md-6 col-lg-4 col-xl-3 mb-5">
                        <div class="card w-100 border-0">
                            {% if artwork.image %}
                                <a href="{% url 'artwork_detail' artwork.id %}">
                                    <img class="card-img-top img-fluid"
                                    src="{{ artwork.image.url }}" 
                                    alt="{{ artwork.image_alt }}"> 
                                </a>
                            {% else %}
                                <a href="{% url 'artwork_detail' artwork.id %}">
                                    <img class="card-img-top img-fluid"
                                    src="{{ MEDIA_URL }}noimage.png"
                                    alt="{{ artwork.image_alt }}"> 
                                </a>
                            {% endif %}
                        </div>
                        <div class="card-body pb-0">
                            <p class="mb-0 artwork-title">{{ artwork.title }}</p>
                        </div>
                        <div class="card-footer bg-white pt-0 border-0 text-left">
                            <div class="row">
                                <div class="col">
                                    {% if artwork.status == 1 %}
                                        <p class="lead mb-0 text-left font-weight-bold">
                                        ${{ artwork.price }}
                                        </p>
                                    {% else %}
                                        <p class="lead mb-0 text-left font-weight-bold">
                                            <del>${{ artwork.price }}</del>
                                            <span class="text-danger">SOLD</span>
                                        </p>
                                    {% endif %}
                                    <small class="text-muted">
                                        <i class="fa-solid fa-hashtag"></i>
                                        {{ artwork.medium.friendly_name }}
                                    </small>
                                    {% if request.user.is_superuser or request.user == artwork.artist.user %}
                                        <br>
                                        <small class="ml-3">
                                            <a href="{% url 'update_artwork' artwork.id %}">Update Artwork</a> | 
                                            <a class="text-danger" href="{% url 'delete_artwork' artwork.id %}">Delete</a>
                                        </small>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% if request.user.is_superuser or request.user == artwork.artist.user %}
                    {% if artwork.status == 3 %}
                        <div class="col-sm-10 offset-sm-1 col-md-6 col-lg-4 col-xl-3 mb-5">
                            <div class="card w-100 border-0">
                                {% if artwork.image %}
                                    <a href="{% url 'artwork_detail' artwork.id %}">
                                        <img class="card-img-top img-fluid"
                                        src="{{ artwork.image.url }}" 
                                        alt="{{ artwork.image_alt }}"> 
                                    </a>
                                {% else %}
                                    <a href="{% url 'artwork_detail' artwork.id %}">
                                        <img class="card-img-top img-fluid"
                                            src="{{ MEDIA_URL }}noimage.png"
                                            alt="{{ artwork.image_alt }}"> 
                                    </a>
                                {% endif %}
                            </div>
                            <div class="card-body pb-0">
                                <p class="mb-0 artwork-title">{{ artwork.title }}</p>
                            </div>
                            <div class="card-footer bg-white pt-0 border-0 text-left">
                                <div class="row">
                                    <div class="col">
                                        <p class="lead mb-0 text-left font-weight-bold">
                                            ${{ artwork.price }}
                                        </p>
                                        <small class="text-muted">
                                            <i class="fa-solid fa-hashtag"></i>
                                            {{ artwork.medium.friendly_name }}
                                        </small><br>
                                        <p class="lead mb-0 text-left font-weight-bold">
                                            status: PENDING
                                            </p>
                                        <small class="ml-3">
                                            <a href="{% url 'update_artwork' artwork.id %}">Update Artwork</a> | 
                                            <a class="text-danger" href="{% url 'delete_artwork' artwork.id %}">Delete</a>
                                        </small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endif %}
            {% endfor %}       
            </div>
        </div>
    </div>
{% endblock %}
