{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col-xs-12 mx-auto text-center">
                <h1 class="josefin-sans display-4">
                    {{ artist.name }}
                </h1>
                <h2 class="josefin-sans display-4">some subhead here?</h2>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
<main>
    <div class="container-fluid">
        <div class="row">
            <div class="col d-flex justify-content-center">
                <p>content goes here</p>
            </div>
        </div>
    </div>
</main>
{% endblock %}
