{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col-12 justify-content-center my-1">
                <h3 class=".josephine-sans-bold text-center"><em>{{ artwork.title }}</em></h3>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="product-container col-10 offset-1">
        {% if artwork.status == 3 %}
        <div class="row">
            <div class="col-sm-12 col-md-6 offset-md-3">
                <p class="text-center">This artwork cannot be viewed here, as it has a status of pending.</p>
                <p class="text-center">It may be accessed by the artist or authorized user from the 
                    <a href="{% url 'artist_page' artwork.artist.id %}"
                        aria-label="link to artist's page">artist's page</a>.</p>
                <p class="text-center">The registered artist is {{ artwork.artist }}.</p>
            </div>
        </div>
        {% else %}
        <div class="row">
            <div class="col-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3 mt-3">
                <div class="card text-center border-black">
                    {% if artwork.image %}
                            <img class="card-img-top img-fluid"
                                src="{{ artwork.image.url }}"
                                alt="{{ artwork.image_alt }}">
                    {% else %}
                        <img class="card-img-top img-fluid"
                            src="{{ MEDIA_URL }}noimage.png">
                    {% endif %}
                    <div class="card-body">
                        {% if artwork.image %}
                        <a href="{{ artwork.image.url }}" target="_blank"
                            aria-label="link to view the full image"
                            class="mt-0 text-center">View full image</a>
                        {% endif %}
                    </div>
                    <div class="card-footer bg-white pt-0 border-0">
                        <div class="row">
                            <div class="col">
                           <p class="lead mb-0 text-left"><em>{{ artwork.title }}</em></p>
                           {% if artwork.status == 1 %}
                           <p class="lead mb-0 text-left font-weight-bold">
                                ${{ artwork.price }}
                           </p>
                           {% else %}
                           <p class="lead mb-0 text-left font-weight-bold">
                                <del>${{ artwork.price }}</del>
                                <span class="text-danger">sold</span>
                            </p>
                            {% endif %}
                           <p class="text-left mb-0"><i class="fa-solid fa-hashtag"></i>
                                {{ artwork.medium.friendly_name }}
                           </p>
                           <p class="text-left mb-0"><i class="fa-solid fa-ruler-combined"></i>
                               {{ artwork.dimensions }}</p>
                           <p class="text-left"><i class="fa-solid fa-person"></i> Artist
                               <span class="font-weight-bold">{{ artwork.artist }}</span></p>
                           {% if request.user.is_superuser %}
                               <p class="mb-2 mx-auto">
                                   <a href="{% url 'update_artwork' artwork.id %}"
                                       aria-label="link to update the artwork">Update Artwork
                                   </a><span>  |  </span>
                                    <a class="text-danger" href="{% url 'delete_artwork' artwork.id %}"
                                                aria-label="link to delete the artwork">Delete
                                    </a>
                                </p>
                               {% endif %}
                               {% if artwork.status == 1 %}
                               <form class="form" action="{% url 'add_to_cart' artwork.id %}" method="POST">
                                        {% csrf_token %}
                                        <div class="form-row">
                                            <div class="col-12">
                                                <a href="{% url 'artworks' %}" class="btn btn-info my-2"
                                                    aria-label="link to go back to shop">Back to Shop</a>
                                                <a href="{% url 'full_gallery' %}" class="btn btn-primary my-2"
                                                    aria-label="link to go back to gallery">Back to Gallery</a>
                                                <span class="px-1"><input type="submit" 
                                                    class="btn btn-success my-2"
                                                    value="Add to Cart">
                                                </span>
                                            </div>
                                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                                        </div>
                               </form>
                               {% else %}
                               <p class="card-text text-center">
                                   <a href="{% url 'full_gallery' %}" class="btn shop-now-button my-2"
                                            aria-label="link to go back to gallery shop">Back to Gallery
                                    </a>
                                </p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
{% endblock %}
