{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}" />
{% endblock %}

{% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col">
      <h1 class="display-4 josephine-sans text-center">Thank you!</h1>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}
<main>
  <div class="container">
    <div class="row">
      <div class="col mt-0 mx-auto text-center">
        <p>Your order information is below.
            A confirmation email has been sent to 
            <strong>{{ order.email }}</strong>
        </p>  
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-6 offset-md-3">
        <div class="order-confirmation-wrapper p-2 border">
          <div class="row">
            <div class="col">
              <p class="text-muted mt-1 mb-0"><small>Order Info:</small></p>
              <p class="mb-0">Order Number: {{ order.order_number }}</p>
              <p class="mb-0">Order Date: {{ order.date }}</p>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <p class="my-1 text-muted"><small>Order Details:</small></p>
            </div>
          </div>
          {% for item in order.lineitems.all %}
          <div class="row">
            <div class="col">
              <hr>
              <div class="row">
                <div class="col-6">
                  {% if item.artwork.image %}
                    <img class="img-thumbnail w-25" src="{{ item.artwork.image.url }}" alt="{{ item.artwork.image_alt }}">
                  {% else %}
                    <img class="img-thumbnail w-25" src="{{ MEDIA_URL }}noimage.png" alt="{{ artwork.title }}">
                  {% endif %}
                </div>
                <div class="col-6">
                  <p class="mb-0">{{ item.artwork.title }}</p>
                  <p class="mb-0">{{ item.quantity}} @ {{ item.artwork.price }} each</p>
                </div>
              </div>
          {% endfor %}
              <hr>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <small class="text-muted my-1">Delivering To:</small>
              <p class="my-0">{{ order.full_name }}</p>
              <p class="my-0"><small>{{ order.street_address1 }}</small></p>
              {% if order.street_address2 %}
                <p class="my-0"><small>{{ order.street_address2 }}</small></p>
              {% endif %}
              <p class="my-0">
                <small>{{ order.town_or_city }}</small>
              {% if order.state %}
                <p class="my-0"><small>{{ order.state }}</small></p>
              {% endif %}
              <p class="my-0"><small>{{ order.postcode }} {{ order.country }}</small></p>
              <p class="my-0"><small>Phone: {{ order.phone_number }}</small></p>
            </div>
            <div class="col-6">
              <p class="text-muted mt-2 mb-1"><small>Billing Info:</small></p>
              {% if order.discount %}
                <p class="mb-0">Order Total: ${{ order.order_total }}</p>
                <p class="mb-0">Discount: - ${{ order.discount }}</p>
              {% endif %}
              <p class="mb-0">Total: ${{ order.grand_total }}</p>
          </div>
        </div>
        <div class="row">
          {% if from_profile %}
          <div class="col text-right mb-0">
            <a href="{% url 'profile' %}" class="btn btn-primary my-2">
              <span class="icon mr-1">
                <i class="fas fa-angle-left"></i>
              </span>
              <span class="mr-2">Back to Profile</span>
            </a>
          </div>
          {% else %}
          <div class="col text-center my-3 mx-auto">
            <!-- <p><strong>Now, check out our upcoming events!</strong></p> -->
            <a href="{% url 'home' %}" class="btn btn-primary my-2">
              <span class="icon">
                <i class="fa-solid fa-calendar-days"></i>
              </span>
              <!-- Revise depending on whether the events model is used -->
              <span>Check out our upcoming events!</span>
            </a>
          </div>
          {% endif %}
        </div>
      </div>
  </div>
</main>
{% endblock %}
