html {
    height: 100%;
}

body {
    color: rgb(35, 35, 35);
    font-family: "Josephin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.main-logo-link {
    text-decoration: none;
    width: fit-content;
}

/* Images */


/* Fonts */

.artwork-title {
    font-style: italic;
}

.logo-font {
  font-family: "Original Surfer", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
}

.original-surfer-regular {
  font-family: "Original Surfer", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* <weight>: Use a value from 100 to 700 */
/* <uniquifier>: Use a unique and descriptive class name */

.josephine-sans {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.josephine-sans-bold {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}

h1, h2 {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: larger;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: rgb(70, 12, 230);
    color: white;
    min-width: 256px;
    min-height: 48px;
    text-transform: uppercase;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: rgb(70, 12, 230);
    color:white;
}

.text-black {
    color: black !important;
}

.border-black {
    border: 1px solid black !important;
}

.bg-black {
    background: #000 !important;
}

.text-white {
    color: white !important;
}

.text-upper {
    text-transform: uppercase;
}

/* --Media Queries-- */
@media (max-width: 992px) {
    .header-container {
        padding-top: 80px;
    }

    .navbar {
        z-index: 10;
    }
}

@media (min-width:1200px) {
    .container {
        max-width: 80%
    }
}

@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        background-color: #fff;
        top: 0;
        right: 0;
        left: 0;
        z-index: 9;
    }
    .header-container {
        padding-top: 145px;
    }
    .josephine-sans-subheader {
        padding-top: 5rem;
    }
}

