 <div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav mx-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#" id="home-link">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="gallery-link" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Gallery
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Oil on Canvas</a>
          <a class="dropdown-item" href="#">Acrylic on Canvas</a>
          <a class="dropdown-item" href="#">Photography</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">All Artworks</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="artists-link" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Artists
        </a>
        <div class="dropdown-menu">
          <!--artists to be looped through here and a tags added dynamically -->
          <a class="dropdown-item" href="#">Artist's Name here</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="custom-order-link" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Custom-Order
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Custom-Order Inquiry Form</a>
          <a class="dropdown-item" href="#">Consultation Request</a>
          <a class="dropdown-item" href="#">Frequently Asked Questions</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" id="events-link" role="button">
          Events
        </a>
      </li>
    </ul>
  </div>