{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    {% block meta %}
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8"/>
    <meta name='language' content='EN'>
    <meta name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Christine Carter, carterchristinee@gmail.com">
    <meta name="description" content="">
    <meta name="keywords" content="">
    {% endblock %}
    
    {% block extra_meta %}
    {% endblock %}
    
    {% block corecss %}
    <link rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
      integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
      crossorigin="anonymous">
    <link
      href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Original+Surfer&display=swap"
      rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="{{ MEDIA_URL }}favicon.ico">
    <link href="//cdn-images.mailchimp.com/embedcode/classic-061523.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}
    
    {% block extra_css %}
    {% endblock %}
    
    {% block corejs %}
    <script
      src="https://kit.fontawesome.com/14c1e6c054.js"
      crossorigin="anonymous"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"
      integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
      crossorigin="anonymous"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"
      integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+"
      crossorigin="anonymous"></script>
      <script src="https://js.stripe.com/acacia/stripe.js"></script>
    {% endblock %}
    
    {% block extra_js %}
    {% endblock %}

    <title>San Diego Art Outlet {% block extra_title %}{% endblock %}</title>
  </head>

  <body class="d-flex flex-column h-100">
    <header class="container-fluid bg-white fixed-top mb-2 mx-0 px-0">
      <div id="topnav" class="row pt-lg-2 d-none d-lg-flex">
        <div
          class="col-12 col-lg-6 my-auto py-1 py-lg-0 text-center text-lg-left">
          <a href="{% url 'home' %}" class="nav-link main-logo-link"
            aria-label="link to homepage">
            <h1 class="logo-font text-black my-0">
              <img
                src="{{ MEDIA_URL }}sd_art_logo.png"
                alt="san_diego_art_outlet_logo"
                class="inline-block"
              />
              <strong>San Diego Art Outlet</strong>
            </h1>
          </a>
        </div>
        <div class="col-12 col-lg-6 my-auto py-1 py-lg-0 text-right">
          <ul class="list-inline list-unstyled text-center text-lg-right my-0">
            <li class="list-inline-item dropdown">
              <a
                class="text-black nav-link user-options"
                href="#"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
                aria-label = "My Account dropdown link for user options"
              >
                <div class="text-center">
                  <div><i class="fas fa-user fa-lg"></i></div>
                  <p class="my-0">My Account</p>
                </div>
              </a>
              <div
                class="dropdown-menu border-0"
                aria-labelledby="user-options"
              >
                {% if request.user.is_authenticated %}
                  {% if request.user.is_superuser %}
                    <a href="{% url 'add_artwork' %}" class="dropdown-item"
                    aria-label="link to product management">Product Management
                  </a>
                  {% endif %}
                  <a href="{% url 'profile' %}" 
                    class="dropdown-item" aria-label="link to profile">My Profile
                  </a>
                  <a href="{% url 'account_logout' %}"
                    aria-label="link to logout" class="dropdown-item">Logout
                  </a>
                {% else %}
                <a href="{% url 'account_signup' %}"
                  aria-label="link to register" class="dropdown-item">Register
                </a>
                <a href="{% url 'account_login' %}"
                  aria-label="link to login" class="dropdown-item">Login
                </a>
                {% endif %}
              </div>
            </li>
            <li class="list-inline-item dropdown">
              <a class="{% if grand_total %}text-info font-weight-bold
                {% else %}text-black{% endif %} nav-link"
                href="{% url 'view_cart' %}"
                aria-label="link to view cart">
                <div class="text-center">
                  <div>
                    <i class="fas fa-cart-shopping fa-lg"></i>
                  </div>
                  <p class="my-0">
                    {% if grand_total %}
                      {{ grand_total|floatformat:2 }}
                    {% else%}
                      $0.00
                    {% endif %}
                  </p>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="row justify-content-center mx-0">
        <nav class="navbar navbar-expand-lg w-100 p-0 mx-0">
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#main-nav"
            aria-controls="main-nav"
            aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon icon">
              <i class="fa-solid fa-bars fa-lg"></i>
            </span>
          </button>
          {% include 'includes/mobile-top-header.html' %}
          {% include 'includes/main-nav.html' %}
        </nav>
      </div>
    </header>
    <main>
      {% if messages %}
        <div class="message-container">
          {% for message in messages %}
            {% with message.level as level %}
              {% if level == 40 %}
                {% include 'includes/toasts/toast_error.html' %}
              {% elif level == 30 %}
                {% include 'includes/toasts/toast_warning.html' %}
              {% elif level == 25 %}
                {% include 'includes/toasts/toast_success.html' %}
              {% else %}
                {% include 'includes/toasts/toast_info.html' %}
              {% endif %}
            {% endwith%}
          {% endfor %}
        </div>
      {% endif %}

      {% block page_header %}
      {% endblock %}
      {% block content %}
      {% endblock %}
    </main>
    <footer class="footer page-footer mt-auto py-3">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-4">
            
          </div>
          <div class="col-sm-12 col-md-4">
            <p class="text-left">&copy;2025 San Diego Art Outlet</p>
          </div>
          <div class="col-sm-12 col-md-4">
            <div id="mc_embed_shell">
              <div id="mc_embed_signup" class="float-right">
                <form 
                  action="https://herokuapp.us3.list-manage.com/subscribe/post?u=855613d2da78dbe7d599fd3c5&amp;id=9770090fa3&amp;f_id=003b4de2f0"
                  method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
                    <div id="mc_embed_signup_scroll">
                      <h2 class="text-black"><small class="original-surfer-regular">Subscribe to Our Newsletter!</small></h2>
                      <div class="mc-field-group text-black">
                        <label for="mce-EMAIL" class="original-surfer-regular">Email Address <span class="asterisk">*</span></label>
                        <input type="email" name="EMAIL" class="required email" id="mce-EMAIL" required="" value="">
                      </div>
                      <div id="mce-responses" class="clear foot">
                          <div class="response" id="mce-error-response" style="display: none;"></div>
                          <div class="response" id="mce-success-response" style="display: none;"></div>
                      </div>
                      <div aria-hidden="true" style="position: absolute; left: -5000px;">
                          /* real people should not fill this in and expect good things - do not remove this or risk form bot signups */
                          <input type="text" name="b_855613d2da78dbe7d599fd3c5_9770090fa3" tabindex="-1" value="">
                      </div>
                      <div class="optionalParent">
                          <div class="clear foot">
                              <input type="submit" name="subscribe" id="mc-embedded-subscribe" class="button" value="Subscribe">
                          </div>
                      </div>
                    </div>
                </form>
              </div>
          </div>
          </div>
        </div>
        <div class="row">
          
        </div>
      </div>
    </footer>

    {% block postload_js %}
    <script type="text/javascript">
      $(".toast").toast("show");
    </script>
    <script type="text/javascript"
      src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js">
    </script>
    <script type="text/javascript">
      (function($) {
        window.fnames = new Array();
        window.ftypes = new Array();
        fnames[0]='EMAIL';
        ftypes[0]='email';
        fnames[1]='FNAME';
        ftypes[1]='text';
        fnames[2]='LNAME';
        ftypes[2]='text';
        fnames[3]='ADDRESS';
        ftypes[3]='address';
        fnames[4]='PHONE';
        ftypes[4]='phone';
        fnames[5]='BIRTHDAY';
        ftypes[5]='birthday';
        fnames[6]='COMPANY';
        ftypes[6]='text';
      }(jQuery));
      var $mcj = jQuery.noConflict(true);
    </script>
    {% endblock %}
  </body>
</html>
